*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body{
    height: 100%;
}
body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 95px;
    
    
}

.board{
    cursor: pointer;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

}
.box{
    border-bottom:  5px solid black;
    border-right: 5px solid black;
}
.box:nth-child(3n){
    border-right: none;
}
.box:nth-child(n+7){
    border-bottom: none;
}

